body{

    margin:0;
    background:#08142d;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.container{

    text-align:center;

}

#board{

    width:400px;

}
.puzzle-area {
    position: relative;
    display: inline-block;
}

#board {
    display: block;
    width: 100%;
}

.piece {
    position: absolute;
    display: none;
}

.piece1 {
    display: block;
    top: 0;
    left: 0;
}

.piece2 {
    display: block;
    top: 0;
    left: 0%;
}

.piece3 {
    display: block;
    top: 0;
    left: 0%;
}

.piece4 {
    display: block;
    top: 0%;
    left: 0;
}

.piece5 {
    display: block;
    top: 0%;
    left: 0%;
}

.piece6 {
    display: block;
    top: 0%;
    left: 0%;
}
.piece {
    display: none;
    position: absolute;
}
