body {
    margin: 0;
    background: #08142d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

.puzzle-area {
    position: relative;
    display: inline-block;
}

#board {
    display: block;
    width: 400px;
}

.piece {
    position: absolute;
    width: 400px;
    display: none !important;
}

.piece1 {
    top: 0;
    left: 0;
}

.piece2 {
    top: 0;
    left: 0;
}

.piece3 {
    top: 0;
    left: 0;
}

.piece4 {
    top: 0;
    left: 0;
}

.piece5 {
    top: 0;
    left: 0;
}

.piece6 {
    top: 0;
    left: 0;
}
